<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/Home/Index">WebAppFirst</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/Home/Index">Home<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Company</a>
                <div class="dropdown-menu" style="">
                    <a class="dropdown-item" href="/Home/About">About</a>
                    <a class="dropdown-item" href="/Home/Contact">Contact</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/Home/Map">Map</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/Products/Index">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Shippers/Index">Shippers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Orders2/Index">Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Statistics/categorySales">Statistics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/Login">Sign out</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" style="color:antiquewhite">@ViewBag.LoggedStatus</a>
            </li>
        </ul>
        @*<form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>*@
    </div>
</nav>

@*  Esimerkki linkeistä Actionlinkkeinä
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    <li>@Html.ActionLink("Map", "Map", "Home")</li>
    <li>@Html.ActionLink("Products", "Index", "Products")</li>
    <li>@Html.ActionLink("Shippers", "Index", "Shippers")</li>
     Sulkeissa ensimmäinen linkkiteksti. Toinen on action-name (eli mitä metodia kutsutaan). Kolmas on mikä kontrolleri kyseessä. *@
