@model IEnumerable<WebAppFirst.Models.Products>
@{
    ViewBag.Title = "Index2";
}
@section scripts {
    <script type="text/javascript">
        $(function () {
            $(".showProductId").click(function () {
                var productId = $(this).data("productid");   @* buttoniissa data-productID="@prod.ProductID" *@
                alert(productId);
            });
        });
    </script>
}  

<div class="container-fluid">

    <h4>Tuotteita @Model.Count() kappaletta</h4>
    <div class="row">
        @foreach (WebAppFirst.Models.Products prod in Model) 
        {


            
            <div class="card mb-3">
                <h3 class="card-header">@prod.ProductName</h3>
                <div class="card-body">
                    <h5 class="card-title">@prod.QuantityPerUnit</h5>
                    <h6 class="card-subtitle text-muted">@prod.UnitsInStock</h6>
                </div>
                <img style="height: 200px; width: 100%; display: block;" src="@prod.ImageLink" alt="@prod.ImageLink">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@prod.UnitPrice</li>
                    <li class="list-group-item">@prod.UnitsOnOrder</li>
                    <li class="list-group-item">@prod.ReorderLevel</li>
                </ul>
                <div class="card-body">
                    <button class="btn btn-primary showProductId" data-productID="@prod.ProductID">Muokkaa</button>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
            

           
        }
    </div>
    </div>

        <script>



            
            function naytaValittuTuote(tuoteID) {
                alert(tuoteID);
            }
        </script>


